$screen-lg: 1240px;
$screen-md: 960px;
$screen-sm: 768px;

.ds-sets {
    background: #000;
    color: #FFF;
	font-size: 17px;
	line-height: 1.5;
	font-weight: 300;
    .container {
        width: 100%;
        max-width: 1240px;
        margin: auto;
    }
    .row, .col {
        overflow: hidden;
        padding-top: 0;
        padding-left: 10px;
        padding-right: 10px;
    }
    .row {
        margin-bottom: 1em;
    }
    .col {
        padding-bottom: 1em;
    }
    h1, h2, h3, h4, p {
        margin: 0;
    }
    p + h4,
    p + p {
        margin-top: 1em;
    }
    h2 {
        font-size: 4em;
        font-weight: 100;
        @media (min-width: $screen-sm) {
            font-size: 6.8em;
        }
    }
    h3 {
        font-size: 2.5em;
        font-weight: 100;
        @media (min-width: $screen-sm) {
            font-size: 3em;
        }
    }
    h4 {
        font-size: 1.3em;
        font-weight: 400;
    }
    .beam {
        @media (min-width: $screen-sm) {
            margin-top: 6em;
        }
        @media (min-width: $screen-md) {
            margin-top: 5em;
        }
        @media (min-width: $screen-lg) {
            margin-top: 3.5em;
        }
    }
    .row-green {
        margin-bottom: 0;
        background: #617578;
        padding: 2.4em 20px 1.2em;
        h3 + p {
            margin: 2em 0;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            li {
                padding: 0;
                margin: 0;
                line-height: 1.6;
            }
        }
    }
    img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .image-full {
        min-height: 60vh;
        margin-bottom: 0;
        @media (min-width: $screen-sm) {
            min-height: 637px;
        }
        background-size: cover;
        background-position: 30% 50%;
        h2 {
            text-align: right;
            text-shadow: 1px 1px 20px #000, 1px 1px 20px #000, 1px 1px 20px #000, 1px 1px 20px #000;
            margin-top: 3vh;
            @media (min-width: $screen-sm) {
                margin-top: 15vh;
                padding-right: 5vw;
            }
        }
        &.light {
            h2 {
                color: #000;
                text-shadow: none;
            }
        }
    }
    .row-bottom-border {
        a {
            display: block;
            padding: 6px 14px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            color: #fff;
            background: #5d5d5d;
            font-size: 18px;
            font-weight: 300;
            text-decoration: none;
            text-align: center;
            margin-bottom: 1px;
            @media (min-width: $screen-md) {
                display: inline-block;
            }
        }
        a.white {
            color: #fff;
        }
        a.grey {
            color: #b4b4b4;
        }
    }
    @media (min-width: $screen-sm) {
        .row, .col {
            padding-left: 20px;
            padding-right: 20px;
        }
        .col-25, .col-50, .col-75 {
            float: left;
        }
        .col-25 {
            width: 25%;
        }
        .col-50 {
            width: 50%;
        }
        .col-75 {
            width: 75%;
        }
        .gallery {
            .arrow {
                margin-left: -63px;
                margin-top: -42px;
                width: 84px;
                height: 84px;
            }
        }
    }
}